<div id="<%= dom_id event %>">
  <div>
    <strong><%= event.name %>
  </div>

  <div>
    <p><%= "Date: #{event.event_date}" %></p>
  </div>

  <div>
    <p><%= "Location: #{event.event_location}"%></p>
  </div>

  <div>
    <p><%= "Hosted by #{host_name}" %></p>
  </div>
</div>